.errorMsg{
	color: red;
}

.errorinput{
    background: #fe3939;
    color: #fff;
}
.displayNone {
    display: none !important;
}
select.form-control option,
select.form-control{
    height: 26px;
    padding: 2px 8px;
    font-size: 13px;
    line-height: 1;
}

table.optionsTable tr td {
    padding: 0 5px 5px;

}

table.optionsTable {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
}

input.form-control{
    height: 25px;
    padding: 3px 4px;
    font-size: 13px;
}
.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
div.errorDiv{
    color: red;
}