.errorMsg{
	color: red;
}

.errorinput{
    background: #fe3939;
    color: #fff;
}
.displayNone {
    display: none !important;
}


table.optionsTable tr td {
    padding: 0 5px 5px;

}

table.optionsTable {
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: 10px;
}


.form-control[disabled], 
.form-control[readonly], 
fieldset[disabled] .form-control {
    background-color: #fff;
    opacity: 1;
}
div.errorDiv{
    color: red;
}