/*@media only screen and (min-width: 992px) {
  .CONTENT_ANALYSIS.modal-lg.CONTENT_ANALYSIS {
      width: 96%;
  }
}
*/
.CONTENT_ANALYSIS .modal-header{
  padding-top: 5px;
  padding-bottom: 5px; 
}
#titoModal .modal-header .close {
     margin-top: 0px; 
}
.CONTENT_ANALYSIS .form-group {
    margin-bottom: 5px;
}
.CONTENT_ANALYSIS div.form-control{
  height: auto;
  padding: 3px 5px;
  min-height: 24px;
}

.CONTENT_ANALYSIS .form-horizontal .control-label{
  padding-top: 0px;
  font-size: 12px;
}

.CONTENT_ANALYSIS table td{
  vertical-align: top;
  padding: 3px;
}


a.deleteSection-btn {
    color: red;
}
a.deleteSection-btn:hover{
  opacity: .65;
}

.CONTENT_ANALYSIS div.modalcol1{
  max-height: 200px;
  overflow: auto;
}

.CONTENT_ANALYSIS .panel-group .panel{
  border-radius: 0px;
  border: none;
    box-shadow: none;
}
.CONTENT_ANALYSIS .panel-heading {
    padding: 5px 5px;
    border-radius: 0px;
}

.CONTENT_ANALYSIS .panel-heading .panel-title{
  font-size: 14px;
}
.CONTENT_ANALYSIS .panel-collapse{
  padding: 15px;
}

.table-bordered>tbody>tr>th,
table#psourceTbl>tbody>tr>td,
table#psourceTbl>thead>tr>th, 
table#psourceTbl {
    border: 1px solid transparent;
}

table#psourceTbl>tbody>tr>td {
    padding: 0px 4px 2px;
    font-size: 13px;
}

table#psourceTbl{
    margin-left: -4px;
    margin-right: -4px;
}



.contentanalysisTbl tbody td div.form-control{
  border: none;
}
a.clearsection-btn,
a.clearpsource-btn{
    /*color: #dd4b39;*/
}

a.clearsection-btn:hover,
a.clearpsource-btn:hover{
  /*opacity: .65;*/
}
tr.sourceTR.Pending {
    background: #ffc930;
}
tr.sourceTR.Ongoing{
  background: #ff3030;
  color: #fff;
}

tr.sourceTR.Pending:hover,
tr.sourceTR.Ongoing:hover{
  background: #ffcfcf;
  color: black;
}

.titoformModal .panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;

}
.titoformModal .panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top: none;
}
.titoformModal .panel-body {
    padding: 15px 0px;
}
.titoformModal .panel-group{
  margin-bottom: 0px;
}

.titoformModal .form-horizontal .control-label {
    padding-top: 0px;
}

input.form-control{
    height: 25px;
    padding: 3px 4px;
    font-size: 13px;
}
select.form-control option,
select.form-control{
    height: 26px;
    padding: 2px 8px;
    font-size: 13px;
    line-height: 1;
}