@media only screen and (min-width: 992px) {
  .titoformModal.modal-lg.CONTENT_ANALYSIS {
      width: 96%;
  }
}

.titoformModal .modal-header{
  padding-top: 5px;
  padding-bottom: 5px; 
}
#titoModal .modal-header .close {
     margin-top: 0px; 
}
.titoformModal .form-group {
    margin-bottom: 5px;
}
.titoformModal div.form-control{
  height: auto;
  padding: 3px 5px;
  min-height: 24px;
}

.titoformModal .form-horizontal .control-label{
  padding-top: 0px;
  font-size: 12px;
}

.titoformModal table td{
  vertical-align: top;
  padding: 3px;
}

.titoformModal table td:nth-child(1) {
  width: 95%;
}
.titoformModal table td:nth-child(2) {
  width: 5%;
}
a.deleteSection-btn {
    color: red;
}
a.deleteSection-btn:hover{
  opacity: .65;
}

.titoformModal div.modalcol1{
  max-height: 200px;
  overflow: auto;
}

.titoformModal .panel-group .panel{
  border-radius: 0px;
}
.titoformModal .panel-heading {
    padding: 5px 5px;
    border-radius: 0px;
}

.titoformModal .panel-heading .panel-title{
  font-size: 14px;
}
.titoformModal .panel-collapse{
  padding: 15px;
}

.contentanalysiTbl tbody td{
  padding: 0px !important;
  width: 8%;

}
.contentanalysiTbl tbody td:nth-child(1){
  width: 15%;
}
.contentanalysiTbl tbody td:nth-child(2),
.contentanalysiTbl tbody td:nth-child(4),
.contentanalysiTbl tbody td:nth-child(5) {
  width: 13%;
}
.contentanalysiTbl tbody td:last-child {
    width: 3%;
   text-align: center;
}
.contentanalysiTbl tbody td div.form-control{
  border: none;
}
a.clearsection-btn,
a.clearpsource-btn{
    color: #dd4b39;
}

a.clearsection-btn:hover,
a.clearpsource-btn:hover{
  opacity: .65;
}
